# Environment variables
backend/.env
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
dist/
build/

# Vite
.vite/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

